.parent {
  width: 100%;
  height: 90vh;
  
}
.trophies {
  /* border: 1px solid red; */
  width: 25%;
  float: left;
  
  height: 450px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.quiz {
  float: right;
  /* border: 1px solid black; */
  height: 350px;
  width: 25%;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-img-top {
  margin-top: 10px;
  height: 50px;
  width: 50px;
}
.allTrophies {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card {
  height: 100px;
    width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.card-body{
  background-color: red;
  width: 100%;
   display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0%;
  margin-right: 0%;
  padding: 0%;
}
.completed {
  background-color: green;
}
.attempted {
  background-color: yellow;
}
.heading-input{
    margin-bottom: 30px;
}


button {
  margin: 10px;
}