<div class="parent">
  <div class="rows">
    <div class="trophies">
      <div *ngFor="let city of allTrophies" class="allTrophies">
        <div
        matBadge="{{city.correctAnswers}}" 
          class="card"
          (click)="navigateByDiv(city.cityName)"
          style="max-width: 8 rem"
        >
          <img
            class="card-img-top"
            src="../../../assets/trophy-png-30582.png"
            alt="Card image cap"
          />

          <div
            [ngClass]="{
              completed: city.correctAnswers == 5,
              attempted:
                city.incorrectAnswers > 0 ||
                (city.correctAnswers > 0 && city.correctAnswers < 5)
            }"
            class="card-body"
          >
            <small
              ><p class="card-title">{{ city.cityName }}</p></small
            >
          </div>
        </div>
      </div>
    </div>
    <div class="quiz">
      <div *ngIf="!congratulationsMessage" class="heading-input">
        <h4>Take a Quiz</h4>
      </div>
      <div *ngIf="congratulationsMessage" class="heading-input">
        <h4>
          {{ congratulationsMessage }}
        </h4>
      </div>
      <div *ngIf="!congratulationsMessage" class="input-form">
        <mat-form-field>
          <mat-label>Select City</mat-label>
          <mat-select [(ngModel)]="selectedCity">
            <mat-option
              *ngFor="let city of allTrophies"
              [value]="city.cityName"
            >
              {{ city.cityName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="btn-div">
        <button
          *ngIf="!congratulationsMessage"
          (click)="routeToQuiz()"
          mat-button
          color="primary"
        >
          submit
        </button>
        <button (click)="resetAll()" mat-button color="warn">reset all</button>
      </div>
    </div>
  </div>
</div>
