.error {
  border: 1px solid red;
}
.mb-3 {
  width: 80%;
}
.parent {
  display: flex;
  flex-direction: row;
}
.button-div {
  margin-top: 15px;
}
button {
  margin: 8px;
  padding: 8px;
}

.container {
  margin-top: 30px;
}
button:disabled {
  background-color: grey;
}
