<div class="container">
  <h3>Edit Task</h3>

  <div class="parent">
    <div class="mb-3">
      <form>
        <label for="task-text-area">Input Task</label>
        <textarea
          type="text"
          rows="3"
          class="form-control text-white bg-dark"
          id="task"
          placeholder="Enter Task"
          [(ngModel)]="form.task"
          name="task"
          #task="ngModel"
          required
          [pattern]="taskRegex"
          maxlength="320"
          [ngClass]="{ error: task.errors && task.touched }"
          id="task-text-area"
          rows="3"
        ></textarea>
        <div *ngIf="task.invalid && task.errors && task.touched && form.task">
            <p class="text-danger">Enter a Valid Task</p>
          </div>
      </form>

      <div *ngIf="task.errors && task.touched">
        <small class="text-danger" *ngIf="task.errors['maxlength']"
          >Only 320 characters are allowed.</small
        >
      </div>
    </div>
    <div class="button-div">
      <button
        class="btn btn-primary"
        [disabled]="!form.task || task.invalid"
        (click)="registerFn()"
      >
        submit
      </button>
      <button class="btn btn-danger" (click)="clearFn()">clear</button>
    </div>
  </div>
</div>
