<div class="container">
  <h3>requests for collab</h3>
  <div *ngIf="displayMessage" class="alert alert-danger" role="alert">
    {{ displayMessage }}
    <button type="button" (click)="clearMessage()" class="btn-close" aria-label="Close"></button>
  </div>
  <div *ngIf="collabRequests.length==0" class="alert alert-warning" role="alert">
    no pending requests
    <!-- <button type="button" (click)="clearMessage()" class="btn-close" aria-label="Close"></button> -->
  </div>
  <div class="requests-display">
    <div *ngFor="let request of collabRequests; let i = index" class="col-sm-6">
      <div class="card  {{ bootStrapClass }}">
        <div class="card-body  {{ bootStrapClass }}">
          <h5 class="card-title  {{ bootStrapClass }}">
            {{ request.taskName }}
          </h5>
          <p class="card-text  {{ bootStrapClass }}">
            {{ request.senderName }} has requested you for
            {{ timeStringArray[i] }} time
          </p>

          <button (click)="acceptRequest(request)" class="btn btn-success">
            accept
          </button>
          <button
            (click)="deleteRequest(request.requestId)"
            class="btn btn-danger"
          >
            reject
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
