
<div class="container">
  <div class="upper-part">
    <h3>{{userName}}</h3>
    <div class="parent">
      <div class="mb-3">
        <form>
          <div class="form-row row">
            <div class="form-group col-md-4">
              <label for="task">Input Task</label>
              <input
                type="text"
                class="form-control form-control-lg {{bootStrapClass}} "
                id="task"
                placeholder="Enter Task"
                [(ngModel)]="form.task"
                name="task"
                #task="ngModel"
                required
                [pattern]="taskRegex"
                maxlength="320"
                [ngClass]="{ error: task.errors && task.touched && clickedSubmit }"
              />
            </div>

            <div class="form-group col-md-4">
              <label for="date">Input Deadline</label>

              <input
                type="date"
                [ngClass]="{
                  error: date.errors && date.touched && clickedSubmit
                }"
                required
                #date="ngModel"
                [(ngModel)]="form.time"
                class="form-control form-control-lg {{bootStrapClass}}"
                placeholder="Enter Date"
                name="date"
                id="date"
                [min]="currentDate"
              />
            </div>

            <div class="form-group col-md-4 btn-div">
              <button class="btn btn-primary" (click)="registerFn()">
                submit
              </button>
              <button class="btn btn-danger" (click)="clearFn()">clear</button>
              <button class="btn btn-danger logout-btn" (click)="logout()">logout</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="displayMessage">
    <p>{{displayMessage}}</p>
  </div>
<!-- input box ends above  -->
  <div class="lower-part">
    <h3>Task List</h3>
    <div class="table-responsive">
      <table class="table table-responsive table-striped {{bootStrapTableClass}}">
        <thead>
          <tr>
            <th scope="col">Id</th>

            <th scope="col">Expires in</th>
            <th scope="col">Task</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let tasks of taskList; let i = index"
            [ngClass]="[
              !tasks.status && tasks.time < 0 ? 'not-completed-task' : '',
              !tasks.status && tasks.time >= 0 ? 'completed-task' : '',
              tasks.status && tasks.time == 0 ? 'last-day' : ''
            ]"
          >
            <th>{{ i + 1 }}</th>
            <!-- <th>{{ tasks.id }}</th> -->

            <th *ngIf="tasks.time < 0">Task Expired</th>

            <th *ngIf="tasks.time > -1">{{ tasks.time }} Days</th>
            <th
              style="word-wrap: break-word; min-width: 650px; max-width: 650px"
            >
              {{ tasks.task }}
            </th>
            <th>
              <div class="btn-div-2">
                <button
                  class="btn btn-primary"
                  [disabled]="!tasks.status"
                  (click)="updateTask(tasks.id, tasks.task)"
                >
                  update
                </button>

                <button
                  [disabled]="!tasks.status"
                  class="btn btn-success"
                  (click)="completeTask(tasks)"
                >
                  complete
                </button>
                <button class="btn btn-danger" (click)="deleteTask(tasks.id)">
                  delete
                </button>
              </div>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
