/* general css  */
button {
  margin: 8px;
  padding: 8px;
}
.lower-part {
  margin-top: 20px;
}
.completed-task th {
  color: green;
}
.not-completed-task th {
  color: red;
}
.last-day th {
  color: #ffc107;
}

.container {
  margin-top: 30px;
}
.error {
  border: 1px solid red;
}
button:disabled {
  background-color: grey;
}

/* input box css  */
.second-input {
  display: flex;
}
.btn-div {
  margin-top: 20px;
}

.date-input {
  width: 40%;
}

/* dashboard css  */
table {
  width: 100%;
}
.dashboard-container {
  width: 100%;
  border: 1px solid red;
}
th {
  text-align: center;
}



