button {
  margin: 8px;
  padding: 8px;
}
table {
  width: 100%;
}
.dashboard-container {
  width: 100%;
  border: 1px solid red;
}

/* input box css  */
.second-input {
  display: flex;
}
.button-div {
  width: 40%;
  margin-top: 20px;
  /* float: right; */
}
/* #date {
 
} */
.date-input {
  width: 40%;
}
.completed-task th {
  /* border: 1px solid green; */
  color: green;
}
.not-completed-task th {
  color: red;
}
h3 {
  color: #ffffff;
}
label {
  color: #ffffff;
}
.container {
  margin-top: 30px;
}
.error {
  border: 1px solid red;
}
button:disabled {
  background-color: grey;
}
.lower-part {
  margin-top: 20px;
}
