.btn {
    margin: 10px;
}
.option-div{
    margin: 10px;
}
.top-part{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.heading{
    width: 90%;
}
.home-page{

    width: 10%;
}