<div class="container">
  <h3>Edit Task</h3>

  <div class="parent">
    <div class="mb-3">
      <form>
        <label for="task-text-area">Input Task</label>
        <textarea
          type="text"
          rows="3"
          class="form-control"
          id="task"
          placeholder="Enter Task"
          [(ngModel)]="form.task"
          name="task"
          #task="ngModel"
          required
          maxlength="320"
          [ngClass]="{ error: task.errors && task.touched }"
          id="task-text-area"
          rows="3"
        ></textarea>
      </form>

      <div *ngIf="task.errors && task.touched">
        <small class="text-danger" *ngIf="task.errors['maxlength']"
          >Only 320 characters are allowed.</small
        >
      </div>
    </div>
    <div class="button-div">
      <button
        class="btn btn-primary"
        [disabled]="!form.task"
        (click)="registerFn()"
      >
        submit
      </button>
      <button class="btn btn-danger" (click)="clearFn()">clear</button>
    </div>
  </div>
</div>
